body {
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  opacity: 0.9;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.btn--principale {
  text-align: center;
  background-color: #f6f6f6;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  padding-bottom: 60px;
}
.btn--principale a {
  opacity: 0.8;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  border-radius: 20px;
  box-shadow: 0px 5px 5px lightgrey;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin: 10px;
}

footer {
  background-color: #353535;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  color: white;
  margin-bottom: -5px;
  line-height: 12px;
}

.footer-logo {
  font-size: 18px;
  font-family: "Shrikhand";
  opacity: 0.8;
}

.footer__icon {
  display: flex;
  align-items: center;
}
.footer__icon .fas {
  padding-right: 8px;
  opacity: 0.8;
  font-size: 12px;
}
.footer__icon .fa-hands-helping {
  font-size: 10px;
}

p {
  opacity: 0.8;
}

.principal {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 25px;
}
.principal__localisation {
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  background-color: #eaeaea;
  border-top: 3px solid #d4d4d4;
  padding: 1px;
  margin-bottom: 40px;
}
.principal__localisation p {
  opacity: 0.8;
}
.principal__localisation .fa-map-marker-alt {
  margin-right: 8px;
}
.principal__description p {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.8;
}

aside {
  margin-top: 40px;
  margin-bottom: 40px;
}
aside .function {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
aside .function__order {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 15px;
  width: 100%;
  margin-left: 10px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px lightgrey;
}
aside .function__order P {
  font-weight: 600;
  opacity: 0.8;
}
aside .function > .dark {
  background-color: #f5edff;
}
aside .function > .dark p {
  opacity: 0.8;
}
aside .function__number {
  background: #9356dc;
  color: white;
  padding: 0.2em 0.55em;
  border-radius: 50%;
  position: absolute;
}
aside .function .fas {
  margin-right: 20px;
  margin-left: 15px;
  opacity: 0.5;
}
aside .function .fas.fa-store {
  color: #9356dc;
  opacity: 1;
}

.restaurant {
  background-color: #f6f6f6;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 50px;
}
.restaurant__menu {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 5px 5px lightgrey;
  width: 100%;
  margin-left: 0px;
  height: 250px;
  position: relative;
}
.restaurant__new {
  position: absolute;
  top: 0;
  right: 10px;
  background: #99e2d0;
  color: #008766;
  padding: 10px;
  border-radius: 5px;
}
.restaurant img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 175px;
  object-fit: cover;
}
.restaurant__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.restaurant__description {
  line-height: 6px;
}
.restaurant__description p {
  font-size: 16px;
  font-weight: 300;
  opacity: 0.8;
}
.restaurant .far {
  font-size: 20px;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
