.btn {
  background-color: $Back-color;
  padding-top: 25px;
  padding-bottom: 60px;
  text-align: center;
  &--principale a {
    @include opacity-text;
    background: linear-gradient(180deg, $Secondary-color, $Primary-color);
    border-radius: 30px;
    box-shadow: 0px 5px 5px lightgrey;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 15px;
  }
  &--secondaire a {
    padding-left: 55px;
    padding-right: 55px;
  }
}
