/* ******** Annimation menus *********** */

.menu__section__1 {
  animation: fadeIn linear 1.2s;
}
.menu__section__2 {
  animation: fadeIn linear 1.4s;
}
.menu__section__3 {
  animation: fadeIn linear 1.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    padding-top: 15px;
  }
  70% {
    opacity: 0;
    padding-top: 15px;
  }
  100% {
    opacity: 1;
  }
}

/* ******** Annimation plats *********** */

.menu__selection {
  margin-right: -65px;
}

.menu__bloc:hover {
  .menu__selection {
    margin-right: 0;
  }
  .menu__prix {
    margin-right: 65px;
  }
}
