body {
  width: auto;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: white;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 21px;
  @include opacity-title;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  @include opacity-title;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.far,
.fas {
  font-size: 18px;
}
