.principal {
  text-align: center;
  background-color: $Back-color;
  padding-bottom: 25px;
  &__localisation {
    @include full-width;
    background-color: #eaeaea;
    border-top: 3px solid #d4d4d4;
    padding: 1px;
    margin-bottom: 40px;
    p {
      @include opacity-text;
    }
    .fa-map-marker-alt {
      margin-right: 8px;
    }
  }
  &__description {
    p {
      font-size: 18px;
      font-weight: 300;
      @include opacity-text;
    }
  }
}

.btn--principale {
  text-align: center;
  background-color: $Back-color;
  @include full-width;
  padding-bottom: 60px;

  a {
    @include opacity-text;
    background: linear-gradient(170deg, $Secondary-color, $Primary-color);
    @include border-shadow;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

aside {
  margin-top: 40px;
  margin-bottom: 40px;

  .function {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &__order {
      display: flex;
      align-items: center;
      background-color: $Back-color;
      padding: 15px;
      width: 100%;
      margin-left: 10px;
      @include border-shadow;
      P {
        font-weight: 600;
        @include opacity-text;
      }
    }
    > .dark {
      background-color: #f5edff;
      p {
        @include opacity-text;
      }
    }

    &__number {
      background: $Primary-color;
      color: white;
      padding: 0.2em 0.55em;
      border-radius: 50%;
      position: absolute;
    }
    .fas {
      margin-right: 20px;
      margin-left: 15px;
      opacity: 0.5;
      &.fa-store {
        color: $Primary-color;
        opacity: 1;
      }
    }
  }
}

.restaurant {
  background-color: $Back-color;
  @include full-width;
  padding-top: 25px;
  padding-bottom: 50px;
  &__menu {
    background-color: #ffffff;
    @include border-shadow;
    width: 100%;
    margin-left: 0px;
    height: 250px;
    position: relative;
  }
  &__new {
    position: absolute;
    top: 0;
    right: 10px;
    background: #99e2d0;
    color: #008766;
    padding: 10px;
    border-radius: 5px;
  }
  img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 175px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__description {
    line-height: 6px;
    p {
      font-size: 16px;
      font-weight: 300;
      @include opacity-text;
    }
  }
  .far {
    font-size: 20px;
    @include opacity-text;
  }
}
