.principal {
  text-align: center;
  background-color: $Back-color;
  @include full-width;
  padding-bottom: 25px;
  &__localisation {
    background-color: #eaeaea;
    border-top: 2px solid #d4d4d4;
    padding: 1px;
    margin-bottom: 40px;
    .fa-map-marker-alt {
      margin-right: 8px;
    }
  }
}

.btn--principale {
  text-align: center;
  background-color: $Back-color;
  @include full-width;
  padding-bottom: 60px;

  a {
    color: #ffffff;
    background: linear-gradient(170deg, $Secondary-color, $Primary-color);
    box-shadow: 0px 5px 5px lightgrey;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
  }
}

aside {
  margin-top: 40px;
  margin-bottom: 40px;
  .function {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &__order {
      background-color: $Back-color;
      padding: 20px;
      width: 100%;
      border-radius: 20px 20px 20px 20px;
      margin-left: -10px;
    }
    &__number {
      background: $Primary-color;
      color: white;
      padding: 0.2em 0.55em;
      border-radius: 50%;
    }
    .fas {
      margin-right: 20px;
      opacity: 0.5;
      &.fa-store {
        color: $Primary-color;
        opacity: 1;
      }
    }
  }
}
