@mixin full-width {
  padding-left: 20px;
  padding-right: 20px;
}
@mixin full-height {
  padding-top: 20px;
  padding-bottom: 20px;
}

@mixin border-shadow {
  border-radius: 15px;
  box-shadow: 0px 5px 5px lightgrey;
}

@mixin opacity-text {
  opacity: 0.8;
}

@mixin opacity-title {
  opacity: 0.9;
}

@mixin marge {
  padding-top: 50px;
  padding-bottom: 50px;
}

@mixin background-media {
  background: linear-gradient(
    90deg,
    #99e2d0 0%,
    #f6f6f6 20%,
    #f6f6f6 80%,
    #99e2d0 100%
  );
}

@mixin background-media-1 {
  background: linear-gradient(
    310deg,
    #99e2d0 0%,
    #f6f6f6 10%,
    #f6f6f6 80%,
    #99e2d0 100%
  );
}
