$Primary-color: #9356dc;
$Secondary-color: #ff79da;
$Tertiary-color: #99e2d0;
$Back-color: #f6f6f6;

@mixin full-width {
  padding-left: 20px;
  padding-right: 20px;
}
@mixin full-height {
  padding-top: 20px;
  padding-bottom: 20px;
}

@mixin border-shadow {
  border-radius: 20px;
  box-shadow: 0px 5px 5px lightgrey;
}

@mixin opacity-text {
  opacity: 0.8;
}

@mixin opacity-title {
  opacity: 0.9;
}

@mixin marge {
  margin-top: 50px;
  margin-bottom: 70px;
}
