@media screen and (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

  footer {
    background-color: #353535;
    @include full-width;
    @include full-height;
    color: white;
  }

  .footer-logo {
    font-size: 16px;
    font-family: "Shrikhand";
    @include opacity-text;
    margin: 0;
  }
  .footer__icon {
    display: flex;
    align-items: center;
    .fas {
      padding-right: 8px;
      @include opacity-text;
      font-size: 12px;
      padding-bottom: 10px;
    }
    .fa-hands-helping {
      font-size: 10px;
    }
  }

  p {
    @include opacity-text;
    margin: 0;
    padding-bottom: 10px;
  }
}
