footer {
  background-color: #353535;
  @include full-width;
  color: white;
  margin-bottom: -5px;
  line-height: 12px;
}

.footer-logo {
  font-size: 18px;
  font-family: "Shrikhand";
  @include opacity-text;
}
.footer__icon {
  display: flex;
  align-items: center;
  .fas {
    padding-right: 8px;
    @include opacity-text;
    font-size: 12px;
  }
  .fa-hands-helping {
    font-size: 10px;
  }
}

p {
  @include opacity-text;
}
